FLASK_APP=app
FLASK_ENV=production
SECRET_KEY=change-me-in-production
DATABASE_URL=postgresql://sentry:tytanic232@localhost:5432/xsus_sentinel
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_IRC_TOKEN=
REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
ADMIN_PASSWORD=tytanic232@
DISCORD_WEBHOOK_URL=
