flask
twitchio
sqlalchemy
flask-sqlalchemy
psycopg2-binary
celery[redis]
redis
langdetect
python-dotenv
python-levenshtein
gunicorn
requests
textblob
scikit-learn
pandas
wordcloud
matplotlib
networkx
flask-socketio
eventlet
weasyprint
